/*reseteo styles*/
body {
    margin: 0 0 0 0;
    background-color: #fefff8;
    color: rgb(130, 124, 124);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
header{
    margin: auto 0,25em;
    position: relative;
}

main {
    margin: auto 2em auto 2em;
    position: relative;
}

footer {
    background-color: rgb(172, 72, 132);
    height:100%;
    width:100%;
    margin-top:3em;
    position: relative;
}

h1 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}



/*zona superior*/

.topbar {
    display: flex;
    flex-wrap: wrap;
    position: relative;   
    padding: 1em 1em;
   
    
    
}

.img3 {
    display: flex;
    align-items: center;
    column-gap: 1em;
    height:4em;
}
/*menu hamburgesa*/
.dropdown{
position: absolute;
right: 25px;
z-index: 100;
}


.dropdown-button {
    width: 25vw;
    padding: 1em 0 1em 0;
    border: none;
    border-radius: 4px;
    font-size: 0.7em;
    color: rgb(14, 153, 212);
    background-color: rgb(193, 229, 244);
}

.dropdown-button:hover{
    background-color: #775bde2f;
    transition: 0.7s;
   
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu{
    width: 25vw;
    display: none;
    position: absolute;
    background-color: #6988c9;
    box-shadow: 0px 8px 20px 0px rgba(28, 27, 28, 0.3);
    border-radius: 0 0 7px 7px;
}

.dropdown-menu > a {
    background-color: rgb(249, 24, 223);
    border-radius: 4px;
    margin: 0.3em;
    padding: 0.3em 1em;
    display: block;
    text-align: center;
    color: rgb(15, 82, 177);
    text-decoration: none;
    font-size: 15px;
}

.dropdown-menu > a:nth-child(1):hover {
    background-color: rgb(91, 236, 80);
    transition: 0.3s;

}

.dropdown-menu > a:nth-child(2):hover {
    background-color: rgb(174, 236, 255);
    transition: 0,7s;

}

.dropdown-menu > a:nth-child(3):hover {
    background-color: rgb(217, 194, 255);
    transition: 0.7s;
}

.container{
   position: relative;
   display: inline-block;
   text-align: center;
}

.img1{
    width: 20em;
    height: auto;
}

.texto{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:rgb(246, 249, 150);
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 2px rgb(15, 92, 225);
}
.sub{
    font-family: fantasy;
}

#video{
    
    display: flex;
    align-items: center;
    width:100%;
}

/*barras progreso animadas*/

.bar{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(233, 236, 205);
    color: rgb(88, 89, 86);
    text-align: center;
    font-weight: bold;
}

.progress{
    height: 30px;
    border-radius: 5px;
    background-color: #5bd5f7;
}

#cons{
    animation-name: progress-bar-cons;
    animation-duration: 3s;
    animation-iteration-count: infinite;
} 

@keyframes progress-bar-cons {
    0% { width: 0; }
    100% { width: 80%; }
}

#val{
    animation-name: progress-bar-val;
    animation-duration: 3.2s;
    animation-iteration-count: infinite;  
}

@keyframes progress-bar-val {
    0% { width: 0; }
    100% { width: 65%; }
}

#aser{
    animation-name: progress-bar-aser;
    animation-duration: 3.3s;
    animation-iteration-count: infinite;
}

@keyframes progress-bar-aser {
    0% { width: 0; }
    100% { width: 70%; }
}

#emp{
    animation-name: progress-bar-emp;
    animation-duration: 3.4s;
    animation-iteration-count: infinite;
}


@keyframes progress-bar-emp {
    0% { width: 0; }
    100% { width: 90%; }
}

/*formulario*/

.form{
    margin-top: 3em;
}

.dp{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(193, 31, 172);
}

.cmc{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(244, 178, 112);
}

.gt{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(227, 61, 61);
}

.txt{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(172, 235, 147);
}


form input:not([type="radio"]){
    border-radius: 10px;
    border: 1px solid rgb(79, 81, 79);
    padding: 0.5em;
    margin: 1em auto 1em auto;
    box-sizing: border-box;
    font-size: 18px;
}


textarea{
    border-radius: 10px;
    border: 1px solid rgb(197, 191, 191);
    padding: 0.5em;
    margin: 1em auto 1em auto;
    box-sizing: border-box;
    font-size: 18px;
}

form input[type="submit"]:hover{
    background-color: #eb8fc5;
    transition: 0.3s;
}

form input[type="submit"]{
    background-color: rgb(240, 230, 117);
    border: 1px solid rgb(241, 242, 158);
    
}

/*footer*/

.navfoot{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 2em;
    padding: 30px 25px;
    background-color: rgb(142, 210, 227);
}

.foot1{
     width: 7em;
}
.foot2{
    width: 4em;
}

@media only screen and (min-width: 768px){}